.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 10rem; /* set the height of the header to be the same as the viewport height */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; /* add some margin from the top to the form */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; /* add some margin between rows */

}
.row label {
  flex-shrink: 0;
  margin-right: 1rem;
  margin-left: 1rem;
}
.row > * {
  flex-grow: 1;
}

label {
   margin-left: 1rem;
  margin-right: 0.5rem; /* add some space between labels and inputs */
}

input,
select {
  margin-left: 0.5rem; /* add some space between labels and inputs */
}

.searchBar {
  margin-left: 0.5rem; /* add some space between the keyword label and input */
}

.button-container {
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   /* add some margin on top of the button */
}

.content{
display:flex;
justify-content: center;
}
.page{

flex-direction:row;
display:flex;
justify-content:center;
border-bottom: 1px solid black;
}






